<div class="container">
  <div class="row">
    <!-- insert <div class="card"> -->
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= link_to '', cocktail, class: "card-link" %>
          <div class="card-background"></div>
          <div class="card-description">
            <h2 class="text-center"><%= cocktail.name %></h2>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
